<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Podfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WeatherWithViper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0202A5C920DE743A00ED83AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0227F21E20DA56F80084BF93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0227F23620DA56F80084BF93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0227F24120DA56F80084BF93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
